:root {
  --fs-base: 16px;
  --ff-main: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --ff-header: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-base);
  margin: 0;
  padding: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--ff-header);
}

button {
  background: #ffffff;
  border: 1px solid #000222;
  border-radius: 5px;
  color: #000222;
  margin: 0.25rem 1rem;
  padding: 0.25rem 1rem;
}

ul {
  list-style: none;
  padding-left: 15px;
}

li {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 15px;
  padding-bottom: 7px;
}

input {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

label {
  line-height: calc(1.5 * 1rem);
}

.checklist-header {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.checklist-total {
  background: #c52233;
  border-radius: 7px;
  color: white;
  font-size: 0.85rem;
  font-style: italic;
  margin-left: 2rem;
  padding: 0.25rem 0.5rem;
}

/* FUNCTIONAL CLASSES */

.collapsed {
  display: none;
  height: 0px;
  opacity: 0;
  transition: height 0.4s ease-out, opacity 0.4s ease-out, display 1s;
}

.open {
  display: block;
  height: 100%;
  opacity: 1;
  transition: height 0.4s ease-out, opacity 0.4s ease-out, display 1s;
}

.hidden {
  display: none;
}

.done {
  background: #62c370;
}

.active {
  background: #8ae1fc;
}